<div class="row">
    <div class="col-11 container">
      <div class="card text-center" 
      style="width:100%;margin-top:1%;">
          <div class="card-header">
              <img class="card-img-top" 
          style="width: 5%; height: 5%;"
          src="https://static.wixstatic.com/media/e9ce7f_4469924c4d674051a923cb268c5f00b3~mv2_d_3000_3000_s_4_2.png/v1/fill/w_110,h_116,al_c,usm_0.66_1.00_0.01/e9ce7f_4469924c4d674051a923cb268c5f00b3~mv2_d_3000_3000_s_4_2.png" 
          alt="Card image cap">Pacientes
            </div>
          <div class="card-body">
            <h5 class="card-title">Selección de pacientes</h5>
            <select class="form-control col-6 offset-3" (change)="onChange($event.target.value)">
              <option value="0">-- Seleccione su paciente --</option>
              <option *ngFor="let patient of patients$ | async" value=patient.cedulaPaciente>{{patient.cedulaPaciente}}</option>
            </select>
          </div>
        </div>
      </div>
</div>

<div class="row" *ngIf="canShowListVideos">
  <div class="col-6">
      <div class="container">
          <div class="text-center form-group">
              <div class="form-group"><p><b>{{sumCurrently}} / {{results}}</b></p></div>
              
              <button type="button" class="btn btn-success" *ngIf="isVisibleLast"
              (click)="nextPage(playlistYoutube.prevPageToken,resultCurrently,'last')">
                  << Anterior
              </button>
              <button type="button" class="btn btn-success" *ngIf="isVisibleNext"
              (click)="nextPage(playlistYoutube.nextPageToken,resultCurrently, 'next')">
                Siguiente >>
              </button>
          </div>

          <table class="table table-striped table-bordered table-hover text-center">
              <thead class="thead-dark">
                <tr>
                  <th>Image</th>
                  <th>URL</th>
                  <th>Observaciones</th>
                  <th>Check</th>                    
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let video of playlistYoutube.items | slice:0">
                  <th><img src="{{video.snippet.thumbnails.default.url}}" alt="{{video.snippet.title}}"></th>
                  <td><a href="https://www.youtube.com/watch?v={{video.snippet.resourceId.videoId}} ">{{video.snippet.title}}</a> </td>
                  <td><textarea class="form-control" rows="5" #observacion id="comment"></textarea></td>
                  <td><input type="checkbox" class="form-check-input" (click)="getRow(video, observacion.value)"></td>
                </tr>
              </tbody>
            </table>      
            
            <div class="text-center form-group">
                <div class="form-group"><p><b>{{sumCurrently}} / {{results}}</b></p></div>
                
                <button type="button" class="btn btn-success" *ngIf="isVisibleLast"
                (click)="nextPage(playlistYoutube.prevPageToken,resultCurrently,'last')">
                    << Anterior
                </button>
                <button type="button" class="btn btn-success" *ngIf="isVisibleNext"
                (click)="nextPage(playlistYoutube.nextPageToken,resultCurrently, 'next')">
                Siguiente >>
                </button>
            </div>     
      </div>
  </div>


  <div class="col-6">
      <div class="container" *ngIf="videosSelected.length>0">

          <div class="form-group text-center form-group"><p><b>--</b></p></div>

          <div class="text-center form-group">
              <button type="button" class="btn btn-success"
              (click)="saveList(videosSelected)">
                  Asignar listado
              </button>
          </div>

          <table class="table table-striped table-bordered table-hover text-center">
              <thead class="thead-dark">
                <tr>
                  <th>Image</th>
                  <th>URL</th>
                  <th>Description</th>
                  <th>Borrar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let videoUser of videosSelected">
                  <th><img src="{{videoUser.imageUrl}}" alt="{{videoUser.title}}"></th>
                  <td><a href="https://www.youtube.com/watch?v={{videoUser.videoId}} ">{{videoUser.title}}</a> </td>                    
                  <td>{{videoUser.description}}</td>
                  <td><button class="btn btn-danger" (click)="deleteVideo(videoUser)">Borrar</button></td>
                </tr>
              </tbody>
            </table>   
  </div>
</div>
