<mat-checkbox>Show details</mat-checkbox>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Add Course" type="text" (keyup.enter)="add(course)" #course>
</mat-form-field>

<mat-grid-list *ngFor="let course of courses$ | async" cols="7" rowHeight="2:1">
    <mat-grid-tile><mat-icon>assignment</mat-icon> {{ course.$value }} -- {{ course.$key}}  </mat-grid-tile>
    <mat-grid-tile> <button mat-raised-button color="primary" (click)="update(course)">Update</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button color="warn" (click)="delete(course)">Delete</button></mat-grid-tile>
  </mat-grid-list>

<mat-list>
  <mat-list-item *ngFor="let author of authors$ | async">
    <mat-icon>person_pin</mat-icon>  {{ author.$value }}
  </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item *ngFor="let student of students$ | async">
    <mat-icon>school</mat-icon> {{ student.email }} -- {{ student.name }}
  </mat-list-item>
</mat-list>

<p>
  {{ student$ | async | json }}
</p>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Add Student" type="text" (keyup.enter)="addStudent(student)" #student>
</mat-form-field>

<mat-list *ngIf="student$ | async as student">
 <mat-list-item> <mat-icon>person_add</mat-icon> {{ student.email }} -- {{ student.name }}</mat-list-item>
</mat-list>

<mat-form-field class="example-full-width">
<input 
matInput 
placeholder="Student To Search" 
type="text" 
(keyup.enter)="getStudentbyEmail(studentToSearch)" 
#studentToSearch>
</mat-form-field>

<div *ngIf="student3$">
  Cantidad de Estudiantes: {{ student3$.length }}
  <mat-list>
      <mat-list-item *ngFor="let studentFilter of student3$">
        <mat-icon>school</mat-icon> {{ studentFilter.email }} -- {{ studentFilter.name }}
      </mat-list-item>
  </mat-list>
</div>