
<div class="container" style="width:100%;margin-top:1%;">
    <div class="card" 
    style="width:100%;margin-top:1%;">
        <div class="card-header text-center">
            <img class="card-img-top" 
        style="width: 5%; height: 5%;"
        src="https://static.wixstatic.com/media/e9ce7f_4469924c4d674051a923cb268c5f00b3~mv2_d_3000_3000_s_4_2.png/v1/fill/w_110,h_116,al_c,usm_0.66_1.00_0.01/e9ce7f_4469924c4d674051a923cb268c5f00b3~mv2_d_3000_3000_s_4_2.png" 
        alt="Card image cap"><b>Administración de Usuarios</b>
          </div>
        <div class="card-body">
          
          <form class="col-10 offset-1" #f="ngForm" (ngSubmit)="submit(f)">
              <div class="form-group">
                <label for="idUser">Nombre usuario</label>
                <input required
                type="text" class="form-control" 
                placeholder="Ingrese el nombre del  usuario"  
                ngModel
                name="username" 
                #username="ngModel" 
                id="username" >
              </div>

              <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
                <div *ngIf="username.errors.required">Nombre usuario es obligatorio</div>                
              </div>

              <div class="form-group">
                <label for="idUser">Cédula usuario</label>
                <input required
                type="text" class="form-control" 
                placeholder="Ingrese la cédula del  usuario" 
                ngModel
                name="idUser" 
                #idUser="ngModel" 
                id="idUser" >
              </div>

              <div class="alert alert-danger" *ngIf="idUser.touched && !idUser.valid">
                  <div *ngIf="idUser.errors.required">Cédula usuario es obligatorio</div>                
              </div>

              <div class="form-group">
                <label for="cmbPerfil">Perfil</label>
                <select required
                ngModel
                name="cmbPerfil" 
                #cmbPerfil="ngModel" 
                id="cmbPerfil"
                class="form-control">
                  <option *ngFor="let perfil of perfiles" value="{{perfil.idPerfil}}">{{perfil.Nombre}}</option>
                </select>
              </div>

              <div class="alert alert-danger" *ngIf="cmbPerfil.touched && !cmbPerfil.valid">
                  <div *ngIf="cmbPerfil.errors.required">Debe seleccionar un perfil</div>                
              </div>

              <button class="btn btn-success btn-block" [disabled]="!f.valid">
              <i class="fas fa-save"></i> Guardar usuario </button>
            </form>

            <div class="container col-10 table-responsive">     
              
                <div class="form-inline mt-5 mb-2">
                    <input type="text" placeholder="Texto a buscar"  
                     #textoBuesqueda class="form-control col-5"
                     (keyup)="searchUserbyId(textoBuesqueda.value)">
<!-- 
                      <button class="btn btn-success col-2 mx-2" 
                      (click)="searchUserbyId(textoBuesqueda.value)">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      Buscar
                    </button> -->

                    <button class="btn btn-success col-2 mx-2" 
                    (click)="getAllUsers()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Todos
                  </button>
                  </div>

              <table  class="table table-striped table-bordered table-hover text-center">
                  <thead class="thead-dark">
                    <tr>
                      <th style="color:#ffc107">Cédula</th>
                      <th style="color:#ffc107">Nombre</th>
                      <th style="color:#ffc107">Perfil</th>
                      <th style="color:#ffc107">Relación</th>
                      <th style="color:#ffc107">Gestión</th>                    
                    </tr>
                  </thead>

                  <tbody *ngIf="showUsers">
                    <tr *ngFor="let user of usersToShow">
                      <td>{{user.cedula}}</td>
                      <td>{{user.nombre}}</td>
                      <td>{{user.perfil}}</td>

                      <td *ngIf="user.videos">Videos asociados: {{user.videos.length}}</td>
                      <td *ngIf="user.pacientes">Pacientes asociados: {{user.pacientes.length}}</td> 
                      <td *ngIf="!user.videos && !user.pacientes">
                        <i class="fa fa-window-minimize" aria-hidden="true"></i>
                      </td>
                      <td>
                        <button *ngIf="!(user.videos || user.pacientes)" 
                        class="btn btn-danger" (click)="deleteUser(user)">
                          Borrar</button>
                          <i *ngIf="user.videos || user.pacientes"  
                          class="fas fa-user-times"></i>
                      </td>
                    </tr>
                  </tbody>

                  <tbody *ngIf="!showUsers">
                      <tr *ngFor="let user of userToShow">
                        <td>{{user.cedula}}</td>
                        <td>{{user.nombre}}</td>
                        <td>{{user.perfil}}</td>
  
                        <td *ngIf="user.videos">Videos asociados: {{user.videos.length}}</td>
                        <td *ngIf="user.pacientes">Pacientes asociados: {{user.pacientes.length}}</td> 
                        <td *ngIf="!user.videos && !user.pacientes">
                          <i class="fa fa-window-minimize" aria-hidden="true"></i>
                        </td>
                        <td>
                          <button *ngIf="!(user.videos || user.pacientes)" 
                          class="btn btn-danger" (click)="deleteUser(user)">
                            Borrar</button>
                            <i *ngIf="user.videos || user.pacientes"  
                            class="fas fa-user-times"></i>
                        </td>
                      </tr>
                    </tbody>

                </table> 
            </div>     

        </div>
      </div>
</div>